<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link href="style.css" rel="stylesheet"/>
</head>

<body>
    <%- include('../template/nav')-%>
    Welcome <%=name%>
</body> 

</html>  